/* testing class */
.test {
  /* margin-top: 1000px; */
  color: red;
  background-color: blue;
  border-color: green;
}

body {
  background: #292929;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  margin: .5rem
}

.page {
  font-size: 20px;
}

.centred {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcomeprompt {
  font-size: 40px;
}

.content {
  color: #0dcaf0;
}

.containerborder {
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(#292929, #292929) padding-box, linear-gradient(0deg, #180060 45%, #009fb1) border-box;
  border: 6px solid transparent;
}

.alertmargin {
  margin: 1rem;
  margin-left: 10px;
  left: 10px
}

.modal-content {
  color: #ffffff;
  background-color: #292929;
}

.form-floating label {
  color: #ffffff;
}

.form-floating input {
  background-color: #00000000;
  color: #ffffff
}

.form-floating input:focus {
  background-color: #00000000;
  color: #ffffff
}

.form label {
  color: #ffffff;
}

.form input {
  background-color: #00000000;
  color: #ffffff
}

.form-control {
  background-color: #00000000;
  color: #ffffff
}
.form-control:focus {
  background-color: #00000000;
  color: #ffffff
}

.form ::placeholder {
  color: #aaaaaa
}

.form input:focus {
  background-color: #00000000;
  color: #ffffff
}

.form-worldnameset {
  width: 300px;
}

.form-worldnamechange {
  border-color: #292929;
  display: inline-block;
  min-width: 134px; 
  max-width: 234px;
  /* width includes margin, border, and padding, so for the element width to be 100 width needs to be 134 */
}

.form-worldnamechange:hover {
  border-color: #aaaaaa
}


/* copilot because bootstrap is a pain */
.form-fileupload {
  color: #494949;
  border-color: #aaaaaa;
  padding: 8px 16px;
  border-radius: 6px;
  margin-right: 12px;
  cursor: pointer;
  --bs-form-file-button-bg: var(#4a90e2);
}
:root {
  --bs-form-file-button-bg: var(#4a90e2);
  /* --bs-tertiary-bg: #4a90e2 */
}
input[type="file"]::file-selector-button {
  background-color: #aaaaaa;
  color: #292929;
}



.fit-content {
  width: fit-content;
}

.btn-changetheme {
  background-color: #00000000;
  border: #0194ab, solid, 1px;
  /* #0194ab, #dee2e6 */
  border-radius: 35px;
  position: fixed;
  left: 95%;
  top: 90%;
  margin: 2rem;
  padding: 3px;
  width: 70px;
  height: 70px;
  transform: translate(-100%, -100%);
}

.themeimg {
  width: 50px;
  height: 50px;
  filter: invert(61%) sepia(90%) saturate(465%) hue-rotate(140deg);
  /* filter: invert(40%) sepia(0%) saturate(500%) hue-rotate(140deg); */
}

.btn-worldnamechange {
  border-color: #292929;
  color: #aaaaaa;
}

.btn-worldnamechange:hover {
  border-color: #595959;
  color: #ffffff;
}

.button-padding {
  padding-block: 7px
}

.createbox {
  background-color: #ffffff0d;
}

.card {
  color: #ffffff;
  background-color: #393939;
  border-width: 2px;
  border-color: #494949;
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.card-fitcontent {
  width: fit-content;
  height: fit-content;
}

.card-button-back {
  color: #ffffff;
  width: 100px;
  height: 100px; 
  padding: 0;
  background-color: #39393900;
  border-width: 2px;
  appearance: none;
  border-style: none;
  display: flex;
  justify-content: center;
}
.card-btn {
  color: #ffffff;
  width: 100px;
  height: 100px; 
  padding: 0;
  background-color: #39393900;
  border-width: 2px;
  appearance: none;
  border-style: none;
  display: flex;
  justify-content: center;
}

.card-CharCreator {
  width: 240px;
  height: fit-content;
  text-align: start;
  justify-content: start;
  display:block;
  padding: 0;
}

.offcanvas {
  max-width: 230px;
  background: #393939;
  border: #494949, 2px;

}

.btn-newchar {
  max-width: 38px;
  max-height: 38px;
  padding-top: 5px;
}

.checkbox {
  background-color: #292929;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.checkbox:checked {
  background-color: #696969;
  border-color: #696969;
  /* nice */
}

.checkbox:focus {
  /* border-color: #0d6efd; */
  border-color: #696969;
  box-shadow: 0 0 0 .25rem #ffffff30;
}

.link { 
  color: #ffffff;
  text-decoration: none;
}

.link-bold {
  font-weight: bold
}

.link:hover {
  color: #ffffff;
  text-decoration: underline
}

.link:active {
  color: #ffffff;
  text-decoration: none
}

.register-btn {
  padding: 8px;
  border: 4px solid transparent;
  color: #e0e0e0
}

.register-btn:hover {
  padding: 8px;
  border: 4px solid transparent;
  background: linear-gradient(#393939, #303030) padding-box, linear-gradient(0deg, #220070 45%, #10afc1) border-box;
  color: #ffffff;
}

/* not sure why this needs to be :first-child:active instead of just :active but it works now ¯\_(ツ)_/¯*/
.register-btn:first-child:active { 
  padding: 8px;
  border: 4px solid transparent;
  background: linear-gradient(#292929, #292929) padding-box, linear-gradient(0deg, #180060 45%, #009fb1) border-box;
  color: #ffffff;
}

.close-btn-danger {
  margin: 0px;
  padding: 2px;
  padding-inline: 4px;
  border: 1px solid #58151c;
  border-radius: 10px;
  color: #58151c;
  background: #f8d7da;
}

.close-btn-danger:hover {
  background: #f8e7ea;
}

.close-btn-danger:active {
  background: #f8d7da;
}

.close-btn-success {
  margin: 0px;
  padding: 2px;
  padding-inline: 4px;
  border: 1px solid #0a3622;
  border-radius: 10px;
  color: #0a3622;
  background: #d1e7dd;
}

.close-btn-success:hover {
  background: #e1f7ed;
}

.close-btn-success:active { 
  background: #d1e7dd;
}

.btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.btn-secondary {
  color: #A9A9A9;
  border-color: #A9A9A9;
  background: #292929;
}

.btn-secondary:hover {
  color: #000000;
  background: #A9A9A9;
  border-color: #A9A9A9;
}

.btn-secondary:first-child:active {
  color: #000000;
  background: #A9A9A9;
  border-color: #A9A9A9;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.alert {
  margin: 0;
}

#flash {
  position: absolute;
  transition: top 0.6s ease-out;
  top: 0;
  margin-inline: 1%;
}

/* 
  extending some of bootstrap's built in spacing utility classes to include larger spacings without using sass
  incrementing by 1rem
  
  property
  m - margin
  p - padding

  side
    - all sides
  t - top
  b - bottom
  s - start (normally left)
  e - end (normally right)
  x - horizontal
  y - vertical

  size
  number = the size of the spacer
*/
.mt-6 {
  margin-top: 4rem;
}
.mt-7 {
  margin-top: 5rem;
}
.mx-6 {
  margin-inline: 4rem;
}
.mx-7 {
  margin-inline: 5rem;
}