body {
  background: #292929;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

.page {
  font-size: 20px;
}

.centred {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcomeprompt {
  font-size: 40px;
}

.content {
  color: #0dcaf0;
}

.containerborder {
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(#292929, #292929) padding-box, linear-gradient(0deg, #180060 45%, #009fb1) border-box;
  border: 6px solid transparent;
}

.form-floating label {
  color: #ffffff;
}

.form-floating input {
  background-color: #292929;
  color: #ffffff
}

.form-floating input:focus {
  background-color: #292929;
  color: #ffffff
}

.button-padding {
  padding-block: 7px
}

.link {
  color: #ffffff;
  text-decoration: none
}

.link:hover {
  color: #ffffff;
  text-decoration: underline
}

.link:active {
  color: #ffffff;
  text-decoration: none
}

.register-btn {
  padding: 8px;
  border: 4px solid transparent;
  color: #e0e0e0
}

.register-btn:hover {
  padding: 8px;
  border: 4px solid transparent;
  background: linear-gradient(#393939, #303030) padding-box, linear-gradient(0deg, #220070 45%, #10afc1) border-box;
  color: #ffffff;
}

/* not sure why this needs to be :first-child:active instead of just :active but it works now ¯\_(ツ)_/¯ */
.register-btn:first-child:active { 
  padding: 8px;
  border: 4px solid transparent;
  background: linear-gradient(#292929, #292929) padding-box, linear-gradient(0deg, #180060 45%, #009fb1) border-box;
  color: #ffffff;
}

.close-btn {
  margin: 1px;
  padding: 2px;
  padding-inline: 4px;
  border: 1px solid #0a3622;
  border-radius: 10px;
  color: #0a3622;
  background: #d1e7dd;
}

.close-btn:hover {
  margin: 1px;
  padding: 2px;
  padding-inline: 4px;
  border: 1px solid #0a3622;
  border-radius: 10px;
  color: #0a3622;
  background: #e1f7ed;
}

.close-btn:active { 
  margin: 1px;
  padding: 2px;
  padding-inline: 4px;
  border: 1px solid #0a3622;
  border-radius: 10px;
  color: #0a3622;
  background: #d1e7dd;
}

/* 
  extending some of bootstrap's built in spacing utility classes to include larger spacings without using sass
  incrementing by 1rem
  
  property
  m - margin
  p - padding

  side
    - all sides
  t - top
  b - bottom
  s - start (normally left)
  e - end (normally right)
  x - horizontal
  y - vertical

  size
  number = the size of the spacer
*/
.mt-6 {
  margin-top: 4rem;
}
.mt-7 {
  margin-top: 5rem;
}