{% extends "index.html" %}

{% block content %}
<h1 class='mb-4'>Welcome {{user}}!</h1>
    <div class="createbox p-4">
        <h2 class="">Create New:</h2>
        <!-- use cursor: pointer; to change the cursor texture when hover -->
        <div class="row align-items-start ms-1">
            <button class="card m-1" data-bs-toggle="modal" data-bs-target="#CustomSelectModal">Custom</button>
            <form action="/run_function_book" method="POST" class="card-button-back m-1"><button class="card disabled" type="submit" disabled>Book</button></form>
            <form action="/run_function_movie" method="POST" class="card-button-back m-1"><button class="card disabled" type="submit" disabled>Movie</button></form>
            <form action="/run_function_game" method="POST" class="card-button-back m-1"><button class="card disabled" type="submit" disabled>Game</button></form>
        </div>
    </div>

    <h2>Your Creations:</h2>
    <div class="row align-items-start ms-1">
        {% for world in data %}
            <form action="/open_world/{{world['name']}}" method="POST" class="card-button-back m-1"><button class="card" type="submit">{{world["name"]}}</button></form>
        {% endfor %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="CustomSelectModal" tabindex="-1" aria-labelledby="CustomSelectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="CustomSelectModalLabel">Select Modules:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="" novalidate>
                    {{form.hidden_tag()}}
                    <div class="modal-body">
                        <fieldset class="">

                            <h5>World name:</h5>
                            <div class="form form-worldnameset ms-3">
                                {% if form.worldnamefield.errors %}
                                    {{form.worldnamefield(class="form-control form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.worldnamefield.errors %}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{form.worldnamefield(class="form-control form-control-lg")}}
                                {% endif %}
                            </div>

                            <h5>Character:</h5>
                            {% for field in CharFields %}
                                <div class="ms-3">
                                    {{form[field](class="form-check-input checkbox ms-3")}}
                                    <label for="{{field}}">{{form[field].label}}</label>
                                </div>
                            {% endfor %}
                            
                            <h5>Setting:</h5>
                            {% for field in SettFields %}
                                <div class="ms-3">
                                        {{form[field](class="form-check-input checkbox ms-3")}}
                                        <label for="{{field}}">{{form[field].label}}</label>
                                </div>
                            {% endfor %}

                            <h5>Gameplay:</h5>
                            {% for field in GameFields %}
                                <div class="ms-3">
                                        {{form[field](class="form-check-input checkbox ms-3")}}
                                        <label for="{{field}}">{{form[field].label}}</label>
                                </div>
                            {% endfor %}

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkIndeterminate" indeterminate = "true">
                                <label class="form-check-label" for="checkIndeterminate">
                                    Indeterminate checkbox
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkIndeterminateDisabled" disabled>
                                <label class="form-check-label" for="checkIndeterminateDisabled">
                                    Disabled indeterminate checkbox
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkDisabled" disabled>
                                <label class="form-check-label" for="checkDisabled">
                                    Disabled checkbox
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkCheckedDisabled" checked disabled>
                                <label class="form-check-label" for="checkCheckedDisabled">
                                    Disabled checked checkbox
                                </label>
                            </div>

                        </fieldset>
                    </div>
                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {{form.submit(class="btn btn-outline-info")}}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block navbar_centre %}

<div class="mr-auto page">
    {{page}}
</div>

{% endblock navbar_centre %}

{% block navbar_right %}

    <p class="mt-2">settings</p>

{% endblock navbar_right %}