{% extends "index.html" %}

{% block content %}
<form action="/logout" method="POST" class="m-2"><button class="btn btn-outline-info" type="submit">Log Out</button></form>


<button type="button" class="btn btn-outline-danger m-2" onclick="deleteconfirm();">Delete Account</button>

<form action="/delete_account" method="POST" class="m-2"><button id="deleteconfirm" class="btn btn-outline-danger" type="submit" disabled>Confirm Delete Account</button></form>


<form method="POST" action="" novalidate>
    {{form.hidden_tag()}}
    <fieldset class="form-group">

        {% for field in fields %}
            <div class="form m-2 mb-3 accountform">
                {% if form[field].errors %}
                    <label for="{{field}}">{{form[field].label}}</label>
                    {{form[field](class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form[field].errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <label for="{{field}}">{{form[field].label}}</label>
                    {{form[field](class="form-control form-control-lg", value=default[field])}}
                {% endif %}
            </div>
        {% endfor %}

    </fieldset>
    <div class="form-group pb-3 was-validated m-2">
            {{form.submit(class="btn btn-outline-info")}}
    </div>
</form>

{% endblock content %}

{% block navbar_centre %}
<div class="mr-auto page">
    {{page}}
</div>
{% endblock navbar_centre %}

{% block navbar_right %}
    <a href="{{url_for('home')}}" class="me-2 link link-bold">Return Home</a>
{% endblock navbar_right %}