    <nav class="navbar navbar-aaaa">
        <div class="navcontainer container-fluid">
            <div>
                <!-- left text -->
                <a class="navbar-brand mr-4" href="#">Buddyget Cash-Track</a>
            </div>
            <div class="navbar-nav mr-auto">
                <!-- middle text -->
                <h2>{{page}}</h1>
                
            </div>
            <div class="navbar-nav">
                <!-- right text -->
                <a href="/">Log Out</a>
            </div>
        </div>
    </nav>