{% extends "index.html" %}

{% block content %}

    <!-- for now the following section will seperately check if each module has been selected, and if it is, display the elements for the module to function. -->
    <!-- the reason these need to be seperate is because each module has a different function, so a loop wont work, at least with my current structure. -->
    <div class="row">
        {% if "CharCreator" in modules %}
            <div class="card card-CharCreator m-1 p-1">
                <form action="/create_character" method="POST" class=""><button class="btn btn-outline-info" type="submit">add new character</button></form>
                <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#CharacterCreateModal">new char</button>
                {% for char in characters %}
                    {{char}}
                    {% for i in characters[char] %}
                        {{i}}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        {% if "Historical" in modules %}
            <div class="card m-1">
                placeholder for Historical module
            </div>
        {% endif %}
        {% if "Maps" in modules %}
            <div class="card m-1">
                placeholder for Maps module
            </div>
        {% endif %}
        {% if "Locations" in modules %}
            <div class="card m-1">
                placeholder for Locations module
            </div>
        {% endif %}
        {% if "Hierarchy" in modules %}
            <div class="card m-1">
                placeholder for Hierarchy module
            </div>
        {% endif %}
        {% if "Factions" in modules %}
            <div class="card m-1">
                placeholder for Factions module
            </div>
        {% endif %}
        {% if "Laws" in modules %}
            <div class="card m-1">
                placeholder for Laws module
            </div>
        {% endif %}
        {% if "Cultures" in modules %}
            <div class="card m-1">
                placeholder for Cultures module
            </div>
        {% endif %}
        {% if "Technology" in modules %}
            <div class="card m-1">
                placeholder for Technology module
            </div>
        {% endif %}
        {% if "Languages" in modules %}
            <div class="card m-1">
                placeholder for Languages module
            </div>
        {% endif %}
        {% if "Currency" in modules %}
            <div class="card m-1">
                placeholder for Currency module
            </div>
        {% endif %}
        {% if "Gameplay" in modules %}
            <div class="card m-1">
                placeholder for Gameplay module
            </div>
        {% endif %}
        {% if "Magic" in modules %}
            <div class="card m-1">
                placeholder for Magic module
            </div>
        {% endif %}
        {% if "Quests" in modules %}
            <div class="card m-1">
                placeholder for Quests module
            </div>
        {% endif %}
    </div>

    <!-- module modals: -->
     <!-- so many modals... -->
    <!-- CharacterCreateModal -->
    <div class="modal fade" id="CharacterCreateModal" tabindex="-1" aria-labelledby="CharacterCreateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="CharacterCreateModalLabel">Select Modules:</h1>
                    <button type="button" class="modal-close-btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="" novalidate>
                    {{form.hidden_tag()}}
                    <div class="modal-body">
                        <fieldset class="">
                            <h5>Character name:</h5>
                            <div class="form ms-3">
                                {{moduleforms.CreateCharacterNameField(class="form-control form-control-lg")}}
                            </div>
                            <h5>Character info:</h5>
                            <div class="form ms-3">
                                {{moduleforms.CreateCharacterInfoField(class="form-control form-control-lg")}}
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {{moduleforms.submit(class="btn btn-outline-info")}}
                    </div>
                </form>
            </div>
        </div>
    </div>


    <h5>World name:</h5>
    
    <form action="/delete_world/{{world_name}}" method="POST" class="card-button-back m-1"><button class="card" type="submit">delete world</button></form>

{% endblock content %}

{% block navbar_centre %}
    <form method="POST" action="" novalidate class="row container fit-content align-items-center justify-content-center mx-7">
        <h5 class="col m-2 fit-content p-0">World name:</h5>
        {{form.hidden_tag()}}
        <fieldset class="col p-0">
            <div class="form">
                {% if form.worldnamefield.errors %}
                    {{form.worldnamefield(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.worldnamefield.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <input class="form-control form-control-lg form-worldnamechange" id="worldnamefield" name="worldnamefield" placeholder="{{world_name}}" type="text" value="">
                    <!-- {{form.worldnamefield(class="form-control form-control-lg")}} this line doesnt work despite being identical to above  -->
                {% endif %}
            </div>
        </fieldset>
        <div class="">
            {{form.submit(style="display:none;")}}
        </div>
    </form>
{% endblock navbar_centre %}

{% block navbar_right %}

    <div class="red">
        <a href="{{url_for('home')}}" class="me-2 link">home</a>
    </div>

{% endblock navbar_right %}
