{% extends "index.html" %}

{% block content %}
    <!-- for now the following section will seperately check if each module has been selected, and if it is, display the elements for the module to function. -->
    <!-- the reason these need to be seperate is because each module has a different function, so a loop wont work, at least with my current structure. -->
    
    <label for="search">Search Content</label>
    <input type="search" id="search" content-search>

    

    <div searches>
        available searches:
        <p>map</p>
        <p>char</p>
    </div>
    
    
    
    <div class="row">

        {% if "Maps" in modules %}
            <div class="card m-1 card-fitcontent p-2 resizable" id="map">
                    
                {% if ext %}
                    <a data-bs-toggle="modal" data-bs-target="#CustomSelectModal" href="" role="button" aria-controls="Map"><img src="/static/maps/{{current_user}}_{{world_name}}_map.{{ext}}" alt="Map" class="map"></a>
                {% else %}
                    <button class="btn btn-outline-secondary m-1" data-bs-toggle="modal" data-bs-target="#CustomSelectModal">Upload map</button>
                {% endif %}

                <div class="modal fade" id="CustomSelectModal" tabindex="-1" aria-labelledby="CustomSelectModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="CustomSelectModalLabel">Select Modules:</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <form method="POST" action="" novalidate enctype="multipart/form-data">
                                {{form.hidden_tag()}}
                                <div class="modal-body">
                                    <fieldset class="form">
                                        <h6>{{Mapform.Map.label}}</h6>
                                        {{Mapform.Map(class="form-fileupload form-control form-control-lg")}}  
                                    </fieldset>
                                </div>
                                <div class="modal-footer mt-3">
                                    
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    {% if ext %}
                                        <a href="/delete_map/{{world_name}}" class="btn btn-outline-danger">Delete Map</a>
                                    {% endif %}
                                    {{Mapform.submit(class="btn btn-outline-info")}}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if "CharCreator" in modules %}
            <!-- card -->
            <div class="card card-CharCreator m-1 p-1" id="char">
                <div class="row m-1 justify-content-center">
                    <h3 class="col-8 ms-2 ps-0">Characters</h3>
                    <a class="btn btn-outline-info btn-newchar col-8 me-3" data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvas">+</a>
                </div>
                <div class="mb-4">
                    {% if characters %}
                        {% for char in characters %}
                            <p class="mb-0 mt-3">{{char}} --- 
                            <a href="/delete_char/{{char}}" class="link link-bold">delete</a> / 
                            
                            <a data-bs-toggle="offcanvas" data-bs-target="#offcanvas{{ char|replace(' ', '_') }}" href="#offcanvas{{ char|replace(' ', '_') }}" role="button" aria-controls="offcanvas{{ char|replace(' ', '_') }}" class="link link-bold">edit</a>

                            </p>
                            <span class="m-0">
                                {% for i in characters[char] %}
                                    {{i}}.
                                {% endfor %}
                            </p>
                        {% endfor %}
                    {% else %}
                        <p> no characters </p>
                    {% endif %}
                </div>
            </div>

            <!-- creation offcanvas -->
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasLabel">Create New Character</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <form method="POST" action="" novalidate>
                        {{form.hidden_tag()}}
                        <div class="modal-body">
                            <fieldset class="">
                                {% for field in charfields %}
                                    <div class="form">
                                        <h6>{{Charforms[field].label}}</h6>
                                        {% if Charforms[field].errors %}
                                            {{Charforms[field](class="form-control form-control-lg is-invalid")}}
                                            <div class="invalid-feedback">
                                                {% for error in errors %}
                                                    <span>{{error}}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{Charforms[field](class="form-control form-control-lg")}}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </fieldset>
                        </div>
                        <div class="modal-footer mt-3">
                            {{Charforms.submit_create(class="btn btn-outline-info")}}
                        </div>
                    </form>
                </div>
            </div>

            {% for char in characters %}
                <!-- editing offcanvas for {{char}} -->
                <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvas{{ char|replace(' ', '_') }}" aria-labelledby="offcanvas{{ char|replace(' ', '_') }}Label">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvas{{ char|replace(' ', '_') }}Label">Edit Character</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <form method="POST" action="" novalidate>
                            {{form.hidden_tag()}}
                            {{Charforms.HiddenCharName(value=char)}}
                            <div class="modal-body">
                                <fieldset class="">
                                    {% for field in editfields %}
                                        <div class="form">
                                            <h6>{{Charforms[field].label}}</h6>
                                            {% if field == "ChangeCharacterName" %}
                                                {{Charforms[field](class="form-control form-control-lg", value=char )}}
                                            {% elif field == "ChangeCharacterDescription" %}
                                                <!-- {{Charforms[field](class="form-control form-control-lg", default=characters[char][0] )}} --> <!-- sadly textareas dont allow changing the value in the html when using flask forms -->
                                                <textarea class="form-control form-control-lg" id="ChangeCharacterDescription" name="ChangeCharacterDescription">{{characters[char][0]}}</textarea>
                                            {% elif field == "ChangeCharacterBackstory" %}
                                                <!-- {{Charforms[field](class="form-control form-control-lg", value=characters[char][1] )}} -->
                                                <textarea class="form-control form-control-lg" id="ChangeCharacterBackstory" name="ChangeCharacterBackstory">{{characters[char][1]}}</textarea>
                                            {% endif %}
                                            <!-- characters[char] -->
                                        </div>
                                    {% endfor %}
                                </fieldset>
                            </div>
                            <div class="modal-footer mt-3">
                                {{Charforms.submit_edit(class="btn btn-outline-info")}}
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        
        {% if "Locations" in modules %}
            <div class="card m-1">
                placeholder for Locations module
            </div>
        {% endif %}

        <!--
        {% if "Historical" in modules %}
            <div class="card m-1">
                placeholder for Historical module
            </div>
        {% endif %}
        {% if "Hierarchy" in modules %}
            <div class="card m-1">
                placeholder for Hierarchy module
            </div>
        {% endif %}
        {% if "Factions" in modules %}
            <div class="card m-1">
                placeholder for Factions module
            </div>
        {% endif %}
        {% if "Laws" in modules %}
            <div class="card m-1">
                placeholder for Laws module
            </div>
        {% endif %}
        {% if "Cultures" in modules %}
            <div class="card m-1">
                placeholder for Cultures module
            </div>
        {% endif %}
        {% if "Technology" in modules %}
            <div class="card m-1">
                placeholder for Technology module
            </div>
        {% endif %}
        {% if "Languages" in modules %}
            <div class="card m-1">
                placeholder for Languages module
            </div>
        {% endif %}
        {% if "Currency" in modules %}
            <div class="card m-1">
                placeholder for Currency module
            </div>
        {% endif %}
        {% if "Gameplay" in modules %}
            <div class="card m-1">
                placeholder for Gameplay module
            </div>
        {% endif %}
        {% if "Magic" in modules %}
            <div class="card m-1">
                placeholder for Magic module
            </div>
        {% endif %}
        {% if "Quests" in modules %}
            <div class="card m-1">
                placeholder for Quests module
            </div>
        {% endif %}
        -->
    </div>

    <form action="/delete_world/{{world_name}}" method="POST" class="m-1"><button class="btn btn-outline-danger" type="submit">delete world</button></form>
{% endblock content %}

{% block navbar_centre %}
    <form method="POST" action="" novalidate class="row container fit-content align-items-center justify-content-center mx-7">
        <h5 class="col m-2 fit-content p-0">World name:</h5>
        {{form.hidden_tag()}}
        <fieldset class="col p-0">
            <div class="form">
                {% if form.worldnamefield.errors %}
                    {{form.worldnamefield(class="form-control form-control-lg form-worldnamechange is-invalid", placeholder=world_name)}}
                    <!-- {{form.worldnamefield(class="form-control form-control-lg is-invalid")}} -->
                    <div class="invalid-feedback">
                        {% for error in form.worldnamefield.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.worldnamefield(class="form-control form-control-lg form-worldnamechange", placeholder=world_name)}}
                {% endif %}
            </div>
        </fieldset>
        <div class="">
            {{form.submit(style="display:none")}}
        </div>
    </form>
{% endblock navbar_centre %}

{% block navbar_right %}

    <a href="{{url_for('home')}}" class="me-2 link link-bold">Return Home</a>

{% endblock navbar_right %}
